<div class="user_post">
    <%= link_to post.title, user_post_path(user_id: post.author_id,id: post.id), class: "div_title" %>
  <p class="div_content">
    <%= post.text %>
  </p>
  <p class="div_footer">
    Comments: <%= post.comments_counter %> , Likes: <%= post.likes_counter %>
  </p>
  <% if can? :delete, post %>
    <%= link_to "Delete Post",user_post_path(user_id: post.author_id, id: post.id),class:"button",  data: { turbo_method: :delete } %>
  <% end %>
</div>