<section class="show_user_section">
  <div class="user_infos">
    <img src=<%= @user.photo %> alt=<%= @user.name %> class="user_avatar">
    <div class="auser_details">
      <h3 class="user_name"><%= link_to @user.name, user_path(id: @user.id) %></h3>
      <p class="user_post_counter">
        Number of posts: <b> <%= @user.posts_counter %></b>
      </p>
    </div>
  </div>
  <div class="user_bio">
    <p class="div_title">Bio </p>
    
    <p class="div_content"><%= @user.bio %></p>
  </div>
  <div class="post_list with_comments">
      <% @user.posts.each do |post| %>
      <%= render partial: "partial/like", locals: { like: Like.new, post_id: post.id, user_id: post.author_id } %>
        <%= render partial: 'partial/post', locals: { post: post } %>
        <div class="comment_list">
          <% post.recent_comments.each do |comment| %>
            <%= render partial: 'partial/comment', locals: { comment: comment } %>
          <% end %>
        </div>
      <% end %>
     
  </div>
   <%= link_to "Pagination", user_posts_path(user_id: @user.id), class: "button"%>
</section>